<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue-helloworld</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>
<div id="vue_det">
    <h1>site : {{site}}</h1>
    <h1>url : {{url}}</h1>
    <h1>{{details()}}</h1>
</div>
<script>
    var vm = new Vue({
        el: '#vue_det',  //el即element，要#开始，对应div id的vue_det元素
        data: {    //data是用来定义属性的
            site: "daxiuge",    //这里的site是对应10行的{{site}}里的元素，改了双大括号里的值会随着变化
            url: "daxiuge.abc.com",
       //     details: 'HelloWorld ue'    //Method "details" has already been defined as a data property.
        //      d  // d is not defined
            d: 'HelloWorld ue'
        },
        methods:{    //methods用于定义属性
            details: function(){
                return this.site + " - Everythings iv possible!";
            }
        }
    })
</script>

</body>
</html>