<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>03uve</title>
    <script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
</head>
<body>
<div id="vue_det">
    <h1>site : {{site}}</h1>
    <h1>url : {{url}}</h1>
    <h1>Alexa : {{alexa}}</h1>
</div>
      <script type="text/javascript">
          var date = { site: "菜鸟教程", url: "www.runoob.com", alexa: 10000}
          var vm = new Vue({
              el: "#vue_det",
              data: date    //常见错误：首位的data是用于定义属性，我写成了date或写成其它错字时，会显示div里的第1个site变量没有defined
          })
          document.write(date.site === vm.site)
          document.write("<br>")
          document.write(date.site + "<br>")
          date.alexa = "daxiuge888"
          document.write(vm.alexa)
      </script>
</body>
</html>