<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue-helloworld</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <p>{{message}}</p>
      <!--  <input v-model="message"> -->
    </div>
<script>
  new Vue({
      el: '#app',
      data: {
          message: 'HelloWorld ue'
      }
  })
</script>

</body>
</html>